/* Import Poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html{
  font-size:62.5%;
}

:root{
  --dark-bg: hsl(225, 15%, 5%);
  --light-bg: hsl(225, 13%, 94%);

  --purple-primary: hsl(246, 100%, 73%);
  --purple-primary-dark: hsl(246, 100%, 63%);
  --purple-primary-light: hsl(246, 100%, 83%);
}

*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: var(--dark-bg);
  color: var(--light-bg);
  font-size: 1.6rem;
}

a{
  text-decoration:none;
}

li{
  list-style:none;
}